body{
    background-color: #ccc;
}
header nav{
    height: 35px;
    background-color: #880808;

}
header nav ul{
    display: flex;
    justify-content: space-between;  
}
header nav ul li{
    float: left;
    width: 170px;
    height: 35px;
    background-color: black;
    text-align: center;
    border-left: 1px  solid  white;
    border-right: 1px  solid  white;
    line-height: 35px;
    list-style: none;
}
.box{
    width: 1050px;
    margin: 0 auto;
}
#matof{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:gainsboro;
    color:maroon ;
    border-radius: 58px;
}
#matof #tof{
border-radius: 58px;
}
section{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 58px;
   padding: 20px;
    
}
h1{
    text-decoration: underline;
    color:maroon;
}
section #formation{
    width: 45%;
    height: 250px;
    background-color: gainsboro;
    border-radius: 58px;
    padding: 10px;
}
section #qualite{
    height: 250px;
    background-color: gainsboro;
    border-radius: 58px;
    padding: 10px;
}
section #extra{
    height: 250px;
    background-color: gainsboro;
    border-radius: 58px;
    padding: 10px;
}
footer #tel{
    color: maroon;
}