body{
    background-color: #ccc;
}
header nav{
    height: 35px;
    background-color: #880808;

}
header nav ul{
    display: flex;
    justify-content: space-between;  
}
header nav ul li{
    float: left;
    width: 170px;
    height: 35px;
    background-color: black;
    text-align: center;
    border-left: 1px  solid  white;
    border-right: 1px  solid  white;
    line-height: 35px;
    list-style: none;
}
.box{
    width: 1050px;
    margin: 0 auto;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section article{
    color: maroon;
    padding: 20px;
    background-color: gainsboro;
    border-radius: 58px;
}
section aside{
    color: gainsboro;
    background-color: maroon;
    padding: 15px;
    border-radius: 58px;
    height: 150px;
}
footer{
    color: maroon;
}